@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

$bgColor: #131722;
$lightBgColor: #24baef;
$bgTransparent: rgba(36, 186, 239, 0.6);
$fontColor: #fff;
$borderColor: #a8a8a83d;
$borderHeight: 1px;
$secondFontColor: #949cb0;

body {
  background-color: $bgColor !important;
  color: $fontColor !important;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

// body{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100% !important;
// }

.navbar {
  background-color: black !important;
  & .collapse {
    & .navbar-nav {
      width: 40%;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      & .active {
        color: gold !important;
      }
      & .nav-item {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        text-transform: capitalize !important;

        & .nav-link {
          font-size: 1.1rem !important;
          text-decoration: none !important;
          &:hover {
            color: gold !important;
          }
        }
      }
    }
  }
}


// ! ====> card

.card_item{
  max-width: 20% !important;
  overflow: hidden !important;

  cursor: pointer;
  & .item{
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    // left: 0;
    top: 0;
    & .vote{
      position: absolute !important;
      display: flex !important;
      justify-content: space-between !important;
      align-content: center;
      padding: 3% 5%;
      top: 0;
      width: 100%;
      margin: 0 auto;
      z-index: 99 !important;
      & .vol {
        & .fas{
          font-size: 1.8rem !important;
          color: rgb(238, 255, 1) !important;
          position: relative;
          top: 0;
          left: 0;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          & h6{
            color: $bgColor !important;
            font-size: 0.8rem !important;
            font-weight: 600 !important;
            position: absolute !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      & .lan{
        // width: 15%;
        background-color: gold !important;
        color: $bgColor !important;

        & h6{
          display: flex !important;
          border-radius: 10px !important;
          align-content: center;
          justify-content: center;
          padding: 5px !important;
          margin: 0 !important;
          font-size: 1rem !important;
          font-weight: bold !important;
          text-align: center !important;
          text-transform: capitalize !important;
        }
      }
    }
    & .img-item{
      object-fit: fill !important;
     transition: all 1s ease-in;
      &:hover {
        transform: rotate(8deg) scale(1.2,1.2) !important;
        // transform:  !important;
      }
    }
  }
}

// ! ==> cardDetalse
.item{
  overflow: hidden !important;
  width: 100%;
  height: 90vh !important;
  position: relative;
  // left: 0;
  top: 0;

  & .all_data{
    width: 100%;
    height: 100%;
    & .img_detl{
      z-index: 1 !important;
      width: 100% !important;
      height: 100% !important;
    }
    & .bac{
      z-index: 10 !important;
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
      height: 100%;
      position: absolute;
    }
    & .data_post{
      background: #000000c4 !important;
      border-radius: 20px;
      width: 80% !important;
      margin: 20px 0 auto;
    z-index: 88 !important;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 80% !important;
      display: grid !important;
      grid-template-columns: 30% 70%;
      overflow: hidden !important;
      & .post_img{
        width: 90% !important;
        height: 100% !important;
       
        & img{
          width: 100% !important;
          height: 100% !important;
          object-fit: cover !important;
        }
      }
  
      & .post{
        text-align: start;
        padding: 5% 0 5% 5%;
        display: flex;
        flex-direction: column;
     
        & h1{
          color: rgb(226, 204, 0) !important;
          font-size: 3rem !important;
          font-weight: 800;
          font-family: 'Times New Roman', Times, serif;
        }
        & p{
          margin-block: 1.5rem !important;
          color: white !important;
          text-align: start !important;
          width: 90%;
          text-shadow: #020101 1px 2px 0px;
          letter-spacing: 1px;
          font-size: 0.8rem;
        }
        & .detals{
          margin-block: 1rem !important;
          display: flex;
          justify-content: space-around;
          align-content: flex-start !important;
          text-align: start !important;

          & .eye , .vote , .language{
            display: flex;
            text-align: center !important;
            flex-direction: column;
            width: 30%;
            & i{
              font-size: 2rem;
              color:  gold;
            }
            & h5{
              font-weight: bold !important;
              font-size: 1.4rem !important;
              margin-top: 0.5rem;
              color: #04f3fc !important;
              letter-spacing: 3px !important;
              font-family:  serif;
              text-transform: capitalize !important;
            }
          }
        }
        



      }
  
  
    }
  }

}